.room-selector--dragbar {
  @include drag-region($color-light-gray);
}

.room-selector--container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.room-selector--box {
  background-color: $color-white;
  width: 100%;
  max-width: 600px;
  padding: 15px;
  box-sizing: border-box;
}

.room-selector--join-btn {
  color: $color-blue;
  cursor: pointer;
}

.room-selector--invite {
  font-family: monospace;
}

.room-selector--rooms {
  background-color: $color-light-gray;
  height: 150px;
  display: flex;
  flex-direction: column;

  &.none {
    align-items: center;
    justify-content: center;
  }
}

.room-selector--room {
  padding: 15px;
  cursor: pointer;
  transition: 150ms;

  &:not(:nth-last-child(1)) {
    border-bottom: 1px solid $color-border;
  }

  &:hover {
    background: $color-blue;
    color: $color-white;
  }
}

.room-selector--none {
  span {
    color: $color-blue;
    cursor: pointer;
  }
}
