$sidebar-width: 300px;

.room--container {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}

.room--sidebar {
  width: $sidebar-width;
  background: $color-white;
  display: flex;
  flex-direction: column;
}

.sidebar--tabs {
  display: flex;

  div {
    flex: 1;
    text-align: center;
    padding: 10px 0px;
    border-bottom: 1px solid $color-border;
    border-top: 1px solid $color-border;
    cursor: pointer;
    transition: 150ms;

    &.selected {
      color: $color-red;
      cursor: default;
    }
  }
}

.room--content {
  width: 100%;
  display: flex;
  flex: 1;
}

.room--audience {
  flex: 1;
  padding: 25px 15px;
  display: flex;
}

.room--main {
  flex: 1;
}

.peer {
  width: 90px;
  background: darken($color-light-gray, 5%);
  border-radius: 12px;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: crosshair;
  height: 100px;
  margin-right: 15px;

  .icon {
    font-size: 48px;
  }

  .name {
    max-width: 80px;
    font-size: 12px;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.nowplaying {
  @include fancy-font;
  width: 100%;
  font-size: 32px;
  background-color: $color-dark-gray;
  color: $color-white;
  cursor: default;

  .nowplaying--content {
    display: flex;
    align-items: center;
  }

  .nowplaying--dragbar {
    @include drag-region($color-dark-gray);
  }

  .song {
    flex: 1;
    text-overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
  }

  .up, .down {
    box-sizing: border-box;
    font-size: 32px;
    cursor: pointer;
    transition: 150ms;
    height: 100%;
    padding: 20px 20px;
  }

  .up {
    margin-right: 10px;
    border-top-right-radius: 5px;

    &:hover {
      text-shadow: 0px 0px 25px $color-green;
      transform: translateY(-7px) rotate(-6deg);
    }
  }

  .down {
    margin-left: 10px;
    border-top-left-radius: 5px;
    transform: scaleX(-1);

    &:hover {
      text-shadow: 0px 0px 25px $color-red;
      transform: scaleX(-1) translateY(7px) rotate(6deg);
    }
  }
}

.room--stage {
  display: flex;
  align-items: center;
  flex-direction: column;

  .peer {
    position: relative;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-right: 15px;

    .popularity-bar {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;

      display: flex;
      div {
        height: 5px;
      }

      .ups {
        background-color: $color-green;
        width: 75%;
      }

      .downs {
        background-color: $color-red;
        width: 25%;
      }
    }

    &.active {
      background-color: $color-white;
    }
  }

  .stage--djs {
    display: flex;
  }

  .empty-slot {
    width: 90px;
    background: darken($color-light-gray, 5%);
    border-radius: 12px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    font-size: 48px;
    cursor: default;

    &.clickable {
      cursor: pointer;
    }
  }
}

.sidebar--queues {
  display: flex;
  flex-direction: column;
  flex: 1;

  select {
    display: none;
    background: $color-white;
    margin: 0px;
    padding: 10px 15px;
    color: rgba(0,0,0,0);
    text-shadow: 0 0 0 $color-dark-gray;

    &:focus {
      outline: none;
    }
  }
}

.queues--dropzone {
  border: 2px dashed $color-border;
  padding: 25px;
  text-align: center;
  font-size: 16px;
  color: $color-alt-text;
  margin: 15px;
  cursor: pointer;
  outline: none;

  &.active {
    border: 2px dashed $color-blue;
    color: $color-blue;
  }
}

.queues--tracks {
  display: block;
  flex: 1;
  list-style-type: none;
  margin: 0px;
  padding: 0px;

  li {
    padding: 10px 15px;
    cursor: default;
    position: relative;

    &:not(:nth-last-child(1)) {
      border-bottom: 1px dotted $color-border;
    }

    .top {
      font-size: 18px;
    }

    .bottom {
      font-size: 14px;
      color: $color-alt-text;
      margin-top: 3px;
    }

    .actions {
      position: absolute;
      top: 0px;
      right: 0px;
      display: flex;

      a {
        display: block;
        padding: 5px;
        font-size: 18px;
        color: $color-alt-text;

        &:hover {
          color: $color-blue;
        }
      }
    }
  }
}

.dj-bar {
  background-color: $color-border;
  padding: 10px;

  button {
    margin-right: 10px;
  }
}

.sidebar--chat {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.chat--msgs {
  flex: 1;
}

.chat--msg {
  display: flex;
  padding: 3px 15px 0px 15px;
  flex-direction: column;

  &:nth-child(1) {
    padding-top: 5px;
  }

  .sender-name {
    font-size: 16px;
    border-bottom: 1px solid $color-border;
    padding: 3px 0px;
    margin-bottom: 5px;

    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .message {
    font-size: 14px;
    line-height: 1.3em;
  }
}

.chat--compose {
  textarea {
    background-color: $color-white;
    border-bottom: 0px;
    margin: 0px;
    font-size: 16px;
    height: 4em;
    border-top: 1px solid $color-border;
  }
}
